@page "/"

<link rel="stylesheet" href="/css/index.css" />
<div class="index">
    <div class="slide header">
        <div class="container">
            <h1>LMT Blazor Utils</h1>
            <h2>New style of web programming.</h2>
            <h2>Less code. More content focus.</h2>
            <h2>Helpful utils await.</h2>
            <div>
                <small>LMT.BlazorUtils.Interfaces: 0.2.1</small>
                <small>&#10070;</small>
                <small>LMT.BlazorUtils Js library: 0.2</small>
                <small>&#10070;</small>
                <small>LMT.BlazorUtils.Dom: 0.2.2</small>
                <small>&#10070;</small>
                <small>LMT.BlazorUtils.Cookie: 0.2.1</small>
            </div>
            <div>
                <a href="https://github.com/15110123/Blazor-Utils" target="_blank"><small>GitHub</small></a>
                <small>&#10070;</small>
                <a href="https://github.com/15110123/Blazor-Utils-template" target="_blank"><small>Template</small></a>
                <small>&#10070;</small>
                <a href="https://github.com/15110123/Blazor-Utils-reference" target="_blank"><small>This site's codes</small></a>
            </div>
        </div>
    </div>
    <div class="content">
        <h2 style="text-align: center; font-size: 50px">Behaviour attributes: faster</h2>
        <p style="text-align: center">Stop writing long codes over and over again. Behaviour attributes give you better ways to make things simpler.</p>
        <div lmt-grid="md-6,md-6" class="codeContainer">
            <div>
                <div>
                    <h2>Original Bootstrap 4</h2>
                    @("<div class=\"container\"")
                    <br />
                    <span class="space1" />@("<div class=\"row\">")
                    <br />
                    <span class="space2" />@("<div class=\"col-md-6\">")
                    <br />
                    <span class="space2" />@("</div>")
                    <br />
                    <span class="space2" />@("<div class=\"col-md-6\">")
                    <br />
                    <span class="space2" />@("</div>")
                    <br />
                    <span class="space1" />@("</div>")
                    <br />
                    @("</div>")
                </div>
                <div>
                    <h2>Behaviour attribute (lmt-grid)</h2>
                    @("<div lmt-grid=\"md-6,md-6\">")
                    <br />
                    <span class="space1" />@("<div>")
                    <br />
                    <span class="space2" />@("<div>")
                    <br />
                    <span class="space2" />@("</div>")
                    <br />
                    <span class="space2" />@("<div>")
                    <br />
                    <span class="space2" />@("</div>")
                    <br />
                    <span class="space1" />@("</div>")
                    <br />
                    @("</div>")
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------->
    <div class="separator"></div>
    <div class="content">
        <h2 style="text-align: center; font-size: 50px">Easier!</h2>
        <p style="text-align: center">Ready to make stunning websites, with stunning effects.</p>
        <div lmt-grid="md-4,md-8" lmt-grid-fluid="true" class="codeContainer scrollDemo">
            <div>
                <div>
                    <h3>Codes:</h3>
                    @("<div style=\"position: relative\"")
                    <br />
                    <span class="space1" />@("<img style=\"left: 0px\" lmt-scroll-move=\"100\" src=\"...\" />")
                    <br />
                    <span class="space1" />@("<img style=\"right: 0px\" lmt-scroll-move=\"-100\" src=\"...\" />")
                    <br />
                    @("</div>")
                </div>
                <div>
                    <h3>Result:</h3>
                    <div style="position: relative; height: 350px">
                        <img style="left: 0px" lmt-scroll-move="200" src="/img/PRIVATE-INVESTIGATOR-UNLOCK-CELLPHONE.png" />
                        <img style="right: 0px" lmt-scroll-move="-200" src="/img/android_app.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------->
    <div class="separator"></div>
    <div class="content">
        <h2 style="text-align: center; font-size: 50px">C# front-end in jQuery style</h2>
        <p style="text-align: center">jQuery is an awesome library no doubt. See it in action with Blazor:</p>
        <div lmt-grid="md-8,md-4">
            <div>
                <div class="codeContainer">
                    @("<button id=\"btnClickMe\" onclick=@(() => { _(\"#btnClickMe\").Text(\"Clicked!\"); })>Click me!</button>")
                </div>
                <div>
                    <button id="btnClickMe" onclick=@(() => { _("#btnClickMe").Text("Clicked!"); })>Click me!</button>
                </div>
            </div>
        </div>
    </div>
</div>

@functions{
    protected override async Task OnAfterRenderAsync()
    {
            LMTBehaviours();
    }
}